<a href="https://colab.research.google.com/github/Mseserovich/funcs/blob/master/hackathon_tshepo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import nltk
import re

In [0]:
df = pd.read_csv('training.csv')

In [0]:
df.head()

         TransactionId         BatchId  ... PricingStrategy FraudResult
0  TransactionId_76871   BatchId_36123  ...               2           0
1  TransactionId_73770   BatchId_15642  ...               2           0
2  TransactionId_26203   BatchId_53941  ...               2           0
3    TransactionId_380  BatchId_102363  ...               2           0
4  TransactionId_28195   BatchId_38780  ...               2           0

[5 rows x 16 columns]

In [0]:
df.shape

(95662, 16)

In [0]:
y = df.iloc[:, -1]

In [0]:
y.isnull().sum()

0

In [0]:
def remove_words():
  re.sub(r'['A-Za-z'])